# Test folders
test_audios/
test_docs/
test_audio/
test_doc/

# Documentation images
memora/docs/images/
Image Docs/

# Google Cloud credentials
*.json
!vercel.json
!tsconfig.json
!package.json
!package-lock.json
*-gcs-key.json
*.iam.gserviceaccount.com.json

# OS files
.DS_Store
